In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Gathering the data

In [6]:
# Reading excel sheets into dataframes
h18 = pd.read_excel('hotel_revenue_historical_data.xlsx', sheet_name= '2018')
h19 = pd.read_excel('hotel_revenue_historical_data.xlsx', sheet_name= '2019')
h20 = pd.read_excel('hotel_revenue_historical_data.xlsx', sheet_name= '2020')
meal_cost = pd.read_excel('hotel_revenue_historical_data.xlsx', sheet_name= 'meal_cost')
market_seg = pd.read_excel('hotel_revenue_historical_data.xlsx', sheet_name= 'market_segment')

### Accessing the data

In [8]:
# Checking the shape
print(f'2018 shape : {h18.shape}')
print(f'2019 shape : {h19.shape}')
print(f'2020 shape : {h20.shape}')
print(f'meal_cost : {meal_cost.shape}')
print(f'market_seg : {market_seg.shape}')

2018 shape : (21996, 32)
2019 shape : (79264, 32)
2020 shape : (40687, 32)
meal_cost : (5, 2)
market_seg : (8, 2)

In [9]:
# Visual inspection of the dataframes
h18.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,2018-05-29

In [10]:
h19.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,20,2019,January,1,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,119.0,0,0,Canceled,2018-12-22
1,Resort Hotel,1,76,2019,January,1,1,1,2,2,...,No Deposit,240.0,NaN,0,Transient,57.9,0,1,Canceled,2018-12-20
2,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.0,0,0,Canceled,2018-11-16
3,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.0,0,0,Canceled,2018-11-16
4,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.0,0,0,Canceled,2018-11-16

In [11]:
h20.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,74,2020,January,1,1,1,0,2,...,No Deposit,5.0,NaN,0,Transient,57.60,0,0,Canceled,2019-10-20
1,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,2019-12-04
2,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,2019-11-11
3,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,2019-12-04
4,Resort Hotel,1,71,2020,January,1,1,2,2,1,...,No Deposit,241.0,NaN,0,Transient,32.22,0,1,Canceled,2019-10-29

In [12]:
meal_cost

    Cost       meal
0   0.00  Undefined
1  12.99         BB
2  17.99         HB
3  21.99         FB
4  35.00         SC

In [13]:
market_seg

   Discount market_segment
0      0.00      Undefined
1      0.10         Direct
2      0.10         Groups
3      0.15      Corporate
4      0.20       Aviation
5      0.30  Offline TA/TO
6      0.30      Online TA
7      1.00  Complementary

In [14]:
# Programmatic inspection of the hotel data
h18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21996 entries, 0 to 21995
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           21996 non-null  object
 1   is_canceled                     21996 non-null  int64
 2   lead_time                       21996 non-null  int64
 3   arrival_date_year               21996 non-null  int64
 4   arrival_date_month              21996 non-null  object
 5   arrival_date_week_number        21996 non-null  int64
 6   arrival_date_day_of_month       21996 non-null  int64
 7   stays_in_weekend_nights         21996 non-null  int64
 8   stays_in_week_nights            21996 non-null  int64
 9   adults                          21996 non-null  int64
 10  children                        21992 non-null  float64
 11  babies                          21996 non-null  int64
 12  meal                            21996 non-null  object
 13  country                         21863 non-null  object
 14  market_segment                  21996 non-null  object
 15  distribution_channel            21996 non-null  object
 16  is_repeated_guest               21996 non-null  int64
 17  previous_cancellations          21996 non-null  int64
 18  previous_bookings_not_canceled  21996 non-null  int64
 19  reserved_room_type              21996 non-null  object
 20  assigned_room_type              21996 non-null  object
 21  booking_changes                 21996 non-null  int64
 22  deposit_type                    21996 non-null  object
 23  agent                           18897 non-null  float64
 24  company                         1305 non-null   float64
 25  days_in_waiting_list            21996 non-null  int64
 26  customer_type                   21996 non-null  object
 27  adr                             21996 non-null  float64
 28  required_car_parking_spaces     21996 non-null  int64
 29  total_of_special_requests       21996 non-null  int64
 30  reservation_status              21996 non-null  object
 31  reservation_status_date         21996 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(16), object(11)
memory usage: 5.4+ MB

In [27]:
h19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79264 entries, 0 to 79263
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           79264 non-null  object
 1   is_canceled                     79264 non-null  int64
 2   lead_time                       79264 non-null  int64
 3   arrival_date_year               79264 non-null  int64
 4   arrival_date_month              79264 non-null  object
 5   arrival_date_week_number        79264 non-null  int64
 6   arrival_date_day_of_month       79264 non-null  int64
 7   stays_in_weekend_nights         79264 non-null  int64
 8   stays_in_week_nights            79264 non-null  int64
 9   adults                          79264 non-null  int64
 10  children                        79260 non-null  float64
 11  babies                          79264 non-null  int64
 12  meal                            79264 non-null  object
 13  country                         78855 non-null  object
 14  market_segment                  79264 non-null  object
 15  distribution_channel            79264 non-null  object
 16  is_repeated_guest               79264 non-null  int64
 17  previous_cancellations          79264 non-null  int64
 18  previous_bookings_not_canceled  79264 non-null  int64
 19  reserved_room_type              79264 non-null  object
 20  assigned_room_type              79264 non-null  object
 21  booking_changes                 79264 non-null  int64
 22  deposit_type                    79264 non-null  object
 23  agent                           68472 non-null  float64
 24  company                         4510 non-null   float64
 25  days_in_waiting_list            79264 non-null  int64
 26  customer_type                   79264 non-null  object
 27  adr                             79264 non-null  float64
 28  required_car_parking_spaces     79264 non-null  int64
 29  total_of_special_requests       79264 non-null  int64
 30  reservation_status              79264 non-null  object
 31  reservation_status_date         79264 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(16), object(11)
memory usage: 19.4+ MB

In [28]:
h20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40687 entries, 0 to 40686
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           40687 non-null  object
 1   is_canceled                     40687 non-null  int64
 2   lead_time                       40687 non-null  int64
 3   arrival_date_year               40687 non-null  int64
 4   arrival_date_month              40687 non-null  object
 5   arrival_date_week_number        40687 non-null  int64
 6   arrival_date_day_of_month       40687 non-null  int64
 7   stays_in_weekend_nights         40687 non-null  int64
 8   stays_in_week_nights            40687 non-null  int64
 9   adults                          40687 non-null  int64
 10  children                        40687 non-null  int64
 11  babies                          40687 non-null  int64
 12  meal                            40687 non-null  object
 13  country                         40604 non-null  object
 14  market_segment                  40687 non-null  object
 15  distribution_channel            40687 non-null  object
 16  is_repeated_guest               40687 non-null  int64
 17  previous_cancellations          40687 non-null  int64
 18  previous_bookings_not_canceled  40687 non-null  int64
 19  reserved_room_type              40687 non-null  object
 20  assigned_room_type              40687 non-null  object
 21  booking_changes                 40687 non-null  int64
 22  deposit_type                    40687 non-null  object
 23  agent                           35023 non-null  float64
 24  company                         2310 non-null   float64
 25  days_in_waiting_list            40687 non-null  int64
 26  customer_type                   40687 non-null  object
 27  adr                             40687 non-null  float64
 28  required_car_parking_spaces     40687 non-null  int64
 29  total_of_special_requests       40687 non-null  int64
 30  reservation_status              40687 non-null  object
 31  reservation_status_date         40687 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(17), object(11)
memory usage: 9.9+ MB

In [18]:
# Check to see if columns in the hotels dataframe are same
assert (h18.columns == h19.columns).all()
assert (h19.columns == h20.columns).all()

In [20]:
# Check for missing values
h18.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             133
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                              3099
company                           20691
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [21]:
h19.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             409
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             10792
company                           74754
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [22]:
h20.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
country                              83
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                              5664
company                           38377
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [24]:
# check for duplicated values
h18.duplicated().sum()

8683

In [25]:
h19.duplicated().sum()

23513

In [26]:
h20.duplicated().sum()

8995

In [29]:
h19.meal.unique()

array(['BB', 'HB', 'Undefined', 'FB', 'SC'], dtype=object)

In [30]:
h20.meal.unique()

array(['BB', 'HB', 'Undefined', 'FB', 'SC'], dtype=object)

In [31]:
h18.meal.unique()

array(['BB', 'HB', 'FB', 'Undefined', 'SC'], dtype=object)

In [32]:
h18.market_segment.unique()

array(['Online TA', 'Offline TA/TO', 'Direct', 'Corporate', 'Groups',
       'Complementary', 'Undefined'], dtype=object)

In [33]:
h19.market_segment.unique()

array(['Online TA', 'Groups', 'Offline TA/TO', 'Direct', 'Complementary',
       'Corporate', 'Aviation', 'Undefined'], dtype=object)

In [34]:
h20.market_segment.unique()

array(['Online TA', 'Offline TA/TO', 'Direct', 'Corporate',
       'Complementary', 'Groups', 'Aviation'], dtype=object)

#### Structural Issue
- The five dataframes should be one table as they have same or supplimenting data

#### Quality Issues
- The hotel dataframes contains duplicated values
- Some columns have missing values
- The children column should be integer not float

### Data cleaning

In [66]:
# get a working copy to save original dataset
h18_cl = h18.copy()
h19_cl = h19.copy()
h20_cl = h20.copy()
meal_cost_cl = meal_cost.copy()
market_seg_cl = market_seg.copy()

#### Adrressing the structural issue
- hotel data(h18, h19 and h20) have similar columns and content so we concatenate them together
- meal cost has an additional column on the cost of various meal groups we merge into the hotel dataframe
- market segment also have an additional data on the discount for the various market segment so we merge into the hotel dataframe.

In [67]:
# concatenate hotel df togehter
hotel = pd.concat([h18_cl, h19_cl, h20_cl], axis= 0, ignore_index= True)
#test
hotel.shape

(141947, 32)

In [68]:
# rename the cost column in meal_cost properly
meal_cost_cl.rename(columns= {'Cost':'cost'}, inplace= True)
# merge meal_cost to hotel
hotel = hotel.merge(meal_cost_cl, on= 'meal',how = 'inner')
# test
assert 'cost' in hotel.columns

In [69]:
# rename the discount column in market segment properly
market_seg_cl.rename(columns={'Discount':'discount'}, inplace= True)
# merge the market segment into hotel
hotel = hotel.merge(market_seg_cl, on = 'market_segment', how = 'inner')
# test
assert 'discount' in hotel.columns

In [70]:
# display 5 random rows
hotel.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,cost,discount
65015,Resort Hotel,1,3,2019,September,37,9,0,1,2,...,NaN,0,Transient,100.0,0,0,Canceled,2019-09-06,12.99,0.1
9236,City Hotel,1,18,2019,June,25,14,0,1,2,...,NaN,0,Transient,111.0,0,0,Canceled,2019-06-11,12.99,0.3
104854,City Hotel,1,336,2019,September,38,18,0,2,2,...,NaN,0,Transient-Party,101.5,0,0,Canceled,2019-07-06,17.99,0.3
26904,Resort Hotel,1,29,2019,August,34,19,0,4,2,...,NaN,0,Transient,211.0,0,2,Canceled,2019-08-01,12.99,0.3
24631,City Hotel,0,108,2019,October,42,14,1,2,1,...,NaN,0,Transient,190.8,0,1,Check-Out,2019-10-17,12.99,0.3

#### Adressing quality issues
- Remove duplicated columns
- Convert children column to integer
- Convert agent to string
- Convert company to string
- Treat missing values appropriately for columns children, agent, company and country

In [71]:
# removing duplicated rows
hotel.drop_duplicates(inplace= True)
#test
hotel.duplicated().sum()

0

In [72]:
# children column fillna with 0.0
hotel.children.fillna(value= 0.0, inplace=True)
# test
hotel.children.isnull().sum()

0

In [73]:
# Convert children, agent and company to appropriate datatypes
hotel.children = hotel.children.astype(int)
hotel.agent = hotel.agent.astype(str)
hotel.company = hotel.company.astype(str)
#test
print(type(hotel.children[0]))
print(type(hotel.agent[0]))
print(type(hotel.company[0]))

<class 'numpy.int32'>
<class 'str'>
<class 'str'>

In [74]:
#The agent column contains agent id of the agent that booked the hotel. Since we know that not all customers would use an agent,
#it is safe to say that the null values are those customers that booked the hotel themselves without the aid of an agent. So we 
# would fill the agent column with none. Same applies to company as it contains id of company that booked or paid for booking.
#For the country column we will simply fill with unknown as those customer probably didn't provide their country of origin.
hotel.agent.fillna(value= 'none', inplace=True)
hotel.company.fillna(value= 'none', inplace=True)
hotel.country.fillna(value='unknown', inplace=True)
#test
hotel.isnull().sum().sum()

0

In [75]:
hotel.to_csv('hotel_data_cleaned')

In [76]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100756 entries, 0 to 141946
Data columns (total 34 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           100756 non-null  object
 1   is_canceled                     100756 non-null  int64
 2   lead_time                       100756 non-null  int64
 3   arrival_date_year               100756 non-null  int64
 4   arrival_date_month              100756 non-null  object
 5   arrival_date_week_number        100756 non-null  int64
 6   arrival_date_day_of_month       100756 non-null  int64
 7   stays_in_weekend_nights         100756 non-null  int64
 8   stays_in_week_nights            100756 non-null  int64
 9   adults                          100756 non-null  int64
 10  children                        100756 non-null  int32
 11  babies                          100756 non-null  int64
 12  meal                            100756 non-null  object
 13  country                         100756 non-null  object
 14  market_segment                  100756 non-null  object
 15  distribution_channel            100756 non-null  object
 16  is_repeated_guest               100756 non-null  int64
 17  previous_cancellations          100756 non-null  int64
 18  previous_bookings_not_canceled  100756 non-null  int64
 19  reserved_room_type              100756 non-null  object
 20  assigned_room_type              100756 non-null  object
 21  booking_changes                 100756 non-null  int64
 22  deposit_type                    100756 non-null  object
 23  agent                           100756 non-null  object
 24  company                         100756 non-null  object
 25  days_in_waiting_list            100756 non-null  int64
 26  customer_type                   100756 non-null  object
 27  adr                             100756 non-null  float64
 28  required_car_parking_spaces     100756 non-null  int64
 29  total_of_special_requests       100756 non-null  int64
 30  reservation_status              100756 non-null  object
 31  reservation_status_date         100756 non-null  datetime64[ns]
 32  cost                            100756 non-null  float64
 33  discount                        100756 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(16), object(13)
memory usage: 28.5+ MB

In [77]:
hotel.market_segment.value_counts()

Online TA        57356
Offline TA/TO    17014
Direct           13953
Groups            6291
Corporate         5057
Complementary      854
Aviation           227
Undefined            4
Name: market_segment, dtype: int64

In [78]:
hotel.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,cost,discount
count,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000,100756.000000
mean,0.265751,77.081891,2019.182411,28.558369,15.783477,1.009588,2.642235,1.870181,0.133669,0.011592,0.037536,0.037467,0.166481,0.269661,0.774951,104.440868,0.086268,0.690937,15.661684,0.257983
std,0.441734,84.712909,0.642965,13.732939,8.800788,1.036013,2.068258,0.697073,0.449678,0.118819,0.190073,0.411409,1.623024,0.718399,9.851005,54.310694,0.284169,0.830966,6.658566,0.107611
min,0.000000,0.000000,2018.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,10.000000,2019.000000,18.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000,0.000000,0.000000,12.990000,0.150000
50%,0.000000,46.000000,2019.000000,30.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,96.300000,0.000000,0.000000,12.990000,0.300000
75%,1.000000,119.000000,2020.000000,39.000000,23.000000,2.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,131.807500,0.000000,1.000000,12.990000,0.300000
max,1.000000,737.000000,2020.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,391.000000,5400.000000,8.000000,5.000000,35.000000,1.000000